$color-accent: #ff0000;
// $screen-desktop: '(min-width: 1440px)';
// $width-container: 1240px;
$gap-container: 60px;

$height-header-desktop: 80px;
$height-header-mobile: 60px;

// $height-footer-mobile: 275px;
// $height-footer-desktop: 102px;

// $z-index-header: 50;
