.product-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #eee;
    padding: 16px;
    background-color: beige;

    &__image-wrapper {
        position: relative;
    }

    &__image {
        width: 100%;
        height: 200px;
        object-fit: cover;
        display: block;
        border: 1px solid red;
    }

    &__favorite {
        position: absolute;
        top: 8px;
        right: 8px;
    }

    &__prices {
        display: flex;
        justify-content: space-between;
    }
}
