.catalog {
    &__container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 15px;
    }

    &__title {
        margin: 0;
        margin-bottom: 15px;
        border: 1px solid red;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        border: 1px solid red;
    }

    &__item {
        flex: 0 0 calc((100% - 72px) / 4);
        // 4 колонки: 3 gap по 24px = 72px

        // @media (max-width: 1200px) {
        //     flex: 0 0 calc((100% - 48px) / 3);
        // }

        // @media (max-width: 900px) {
        //     flex: 0 0 calc((100% - 24px) / 2);
        // }

        // @media (max-width: 600px) {
        //     flex: 0 0 100%;
        // }
    }
}
